<h1>{{model.name}} - {{model.year}}</h1>
<ul>
  <li>Type: {{model.type}}</li>
  <li>Horsepower: {{model.horsepower}}</li>
  <li>Price: {{model.price}}</li>
  <li>Description: {{model.description}}</li>
</ul>
<a href="/page5/{{model.brand}}">← Back to Brand</a>
